.APP {
  min-height: 100vh;
  background-image: url("https://brandemia.org/sites/default/files/inline/images/f1-logo-red-on-black-e1511528736760.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-attachment: fixed;
}
