.divSearvbar {
  position: relative;
  right: 40px;
  top: 12px;
}
.input {
  position: absolute;
  right: 17em;
  bottom: 26px;
  border-radius: 12px;
  border: none;
}
.buscar {
  position: absolute;
  background-color: rgb(113, 113, 113);
  border-radius: 7px;
  font-size: 1rem;
  right: 9rem;
  bottom: 26px;
  border: none;
}
.name {
  position: absolute;
  left: 73em;
  bottom: 26px;
  background-color: rgb(113, 113, 113);
  font-size: 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.todo {
  position: absolute;
  background-color: rgb(113, 113, 113);
  right: 0rem;
  bottom: 26px;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
}
.todo:hover,
.buscar:hover {
  font-size: 1.2rem;
  border-radius: 14px; /* Un radio m치s grande para un efecto de iluminaci칩n m치s pronunciado */
  transition: all 0.3s ease; /* Agregar una transici칩n suave de 0.3 segundos */
  box-shadow: 0 0 20px rgb(29, 29, 29); /* Agregar una sombra para enfatizar el efecto */
  cursor: pointer;
}
